@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  *{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  header{
    background-color:rgb(255, 248, 180);
    width:100%;
    position:fixed;
    z-index: 999;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.form {
  max-width: 400px; /* Set a maximum width for the form */
  margin: auto; /* Center the form on the page */
}

div {
  margin-bottom: 15px; /* Add some spacing between form elements */
}

label {
  display: block; /* Make labels display as block elements */
  margin-bottom: 5px; /* Add some spacing below labels */
}

textarea {
  width: 100%; /* Make the textarea take up 100% of its container width */
  resize: vertical; /* Allow vertical resizing of the textarea */
  padding: 8px; /* Add padding inside the textarea */
  border: 1px solid rgb(246, 207, 232); /* Add a border around the textarea */
  border-radius: 4px; /* Add border radius for a slightly rounded appearance */
}

button {
  background-color:rgb(246, 207, 232); /* Set the background color for the button */
  color: rgba(52, 31, 2, 0.995); /* Set the text color for the button */
  padding: 10px; /* Add padding inside the button */
  border: none; /* Remove the default button border */
  border-radius: 4px; /* Add border radius for a slightly rounded appearance */
  cursor: pointer; /* Add a pointer cursor on hover */
}

button:hover {
  background-color: rgb(246, 207, 232); /* Change the background color on hover */
}
.logo{
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 700;
  color:darkmagenta;
  text-transform: uppercase;

}
.navigation a{
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  color:darkmagenta;
  padding: 30px;
}
.navigation a:hover{
  color:darkmagenta ;
}
.main{
  padding: 10px 200px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items:center;
  vertical-align: middle;
  background: url(cats.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

footer{
  background-color:rgb(246, 207, 232);
  width:100%;
  z-index: 999;
  display:flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 200px;
}
